aiofiles==24.1.0
aiohttp==3.11.11
async_timeout==5.0.1
cachetools==5.5.0
colorama==0.4.6
eth_abi==5.1.0
eth_account==0.13.4
eth_utils==5.1.0
hexbytes==1.2.1
joblib==1.4.2
numpy==2.2.1
pandas==2.2.3
python-dotenv==1.0.1
scheduling==0.0.2
scikit_learn==1.6.0
utils==1.0.2
web3==7.6.1
